.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Montserrat'
}

.App-body {
  padding: 0px 30px;

}
.hint-title {
  margin-bottom: 80px;
}

.hint-text {
  font-size: 0.8em;
  font-weight: 200;
  margin-top: -50px;
  margin-bottom: 30px;
}
.hint-end {
  margin-bottom: 80px
}

.guess-again {
  font-size: 0.8em;
  font-weight: 500;
  margin-top: -18px;
}

#murderer {
  /* transition: all .7s ease-in; */
}

/* #murderer.enlarge {
  transform: scale(1.1);
}

.guess-again {
  transition: all .7s ease-out;
} */

.FileUpload {
  margin-top: 5vh;
}

.won-message {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.hidden {
  display: none
}

button {
  font-size: 10pt;
  text-decoration: none !important;
  color: #005c99;
  border: solid 2px #005c99;
  padding: 5px;
  margin-right: 5px
}

button:hover {
  color: white;
  background-color: #005c99;
  border: solid 2px #005c99;
}

.NavBar {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3em;
  color: black
}
.NavBar:hover {
  color: #005c99
}

.links {
  color: #005c99;
}

.links:hover {
  text-decoration: none;
  color: white;
}

.button {
  font-size: 10pt;
  text-decoration: none !important;
  color: #005c99;
  border: solid 2px #005c99;
  padding: 5px;
  margin-right: 5px
}

.button:hover {
  color: white;
  background-color: #005c99;
  border: solid 2px #005c99;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}